---
import {
  EMAIL,
  NAME,
  LOCATION_NOW,
  LOCATION_FROM,
  PROFILE_IMAGE,
} from "../consts.ts";
---

<div class="about-top-container">
  <div>
    <img
      src={PROFILE_IMAGE}
      class="about-top-container-profile-img"
      alt="Profile image"
    />
  </div>
  <div class="about-top-container-text">
    <h3>{NAME}</h3>
    <p>
      Junior software developer with a passion for building scalable and
      maintainable applications.
    </p>
    <div>
      <div class="about-content-icons-container">
        <img src="/assets/cake.svg" alt="Born in" />
        <p>07.20.2002</p>
      </div>
      <div class="about-content-icons-container">
        <img src="/assets/at.svg" alt="Mail Me at" />
        <p><a href=`mailto:${EMAIL}`>{EMAIL}</a></p>
      </div>
      <div class="about-content-icons-container">
        <img src="/assets/map-pin-house.svg" alt="Where I am from" />
        <p>{LOCATION_FROM}</p>
      </div>
      <div class="about-content-icons-container">
        <img src="/assets/map-pin.svg" alt="Where am I" />
        <p>{LOCATION_NOW}</p>
      </div>
    </div>
  </div>
</div>

<div>
  <h3>Education</h3>
  <div class="about-education-container">
    <div class="about-education-content">
      <h4>Inha University</h4>
      <div class="about-content-icons-container">
        <img src="/assets/map-pin.svg" alt="Location" />
        <p class="mt-0">Incheon, South Korea</p>
      </div>
      <div class="about-content-icons-container">
        <img src="/assets/me.svg" alt="Position" />
        <p>Student</p>
      </div>
      <div class="about-content-icons-container">
        <img src="/assets/calendar.svg" alt="Period" />
        <p>2021.03-2027.02 (expected)</p>
      </div>
      <p>Major in Computer Science and Engineering</p>
    </div>
    <div class="about-education-content">
      <h4>Chuo University</h4>
      <div class="about-content-icons-container">
        <img src="/assets/map-pin.svg" alt="Location" />
        <p class="mt-0">Tokyo, Japan</p>
      </div>
      <div class="about-content-icons-container">
        <img src="/assets/me.svg" alt="Position" />
        <p>Exchange Student</p>
      </div>
      <div class="about-content-icons-container">
        <img src="/assets/calendar.svg" alt="Period" />
        <p>2025.09-2026.08 (expected)</p>
      </div>
      <p>Major in Information and System Engineering</p>
    </div>
  </div>
</div>

<div>
  <h3>Certificates</h3>
  <table class="w-full">
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Issuer</th>
    </tr>
    <tr>
      <td>07.13.2021</td>
      <td>Driver's License, Type 1, Normal</td>
      <td>Jeonbuk Provincial Police Agency</td>
    </tr>
    <tr>
      <td>08.13.2024</td>
      <td>JLPT N2</td>
      <td>The Japan Foundation</td>
    </tr>
    <tr>
      <td>01.26.2025</td>
      <td>TOEIC, 925</td>
      <td>Korea TOEIC Committee</td>
    </tr>
    <tr>
      <td>05.24.2025</td>
      <td>TOPCIT, 677</td>
      <td>Ministry of Science and ICT, Korea</td>
    </tr>
  </table>
</div>

<div>
  <h3>Club Activities</h3>
  <table class="w-full">
    <tr>
      <th>Period</th>
      <th>Club Name</th>
      <th>Topic</th>
      <th>Position</th>
    </tr>
    <tr>
      <td>03.2021-08.2021</td>
      <td>IGRUS</td>
      <td>SW Development</td>
      <td>Member</td>
    </tr>
    <tr>
      <td>03.2024-08.2024</td>
      <td>IGRUS</td>
      <td>SW Development</td>
      <td>Member</td>
    </tr>
    <tr>
      <td>03.2024-08.2025</td>
      <td>Seeds</td>
      <td>Web Development</td>
      <td>Staff</td>
    </tr>
  </table>
</div>

<div>
  <h3>Awards</h3>
  <table class="w-full">
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Award</th>
    </tr>
    <tr>
      <td>11.12.2023</td>
      <td>Chung-Ang University x SEOULLAB PARTNERS '2023 START-LAB </td>
      <td>Grand Prize</td>
    </tr>
    <tr>
      <td>01.18.2025</td>
      <td>2025 GreenTech Globalthon</td>
      <td>Best Startup Pitch Award</td>
    </tr>
  </table>
</div>
