---
import { Image } from "astro:assets";
import StatusBubble from "../components/StatusBubble.astro";

const { title, year, status, link, heroImage } = Astro.props;
---

<main>
  <article>
    <div class="between flex flex-row items-center gap-6">
      {
        heroImage && (
          <div class="hero-image">
            <Image width={120} height={120} src={heroImage} alt="" />
          </div>
        )
      }
      <div class="flex w-full flex-row items-center justify-between">
        <div class="title">
          <h1>{title}</h1>
          <p>{year}</p>
        </div>
        <div class="flex flex-col items-end gap-4">
          <StatusBubble status={status} />
          <a href={link} class="button">
            <img src="/assets/gh.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
    <div class="prose">
      <slot />
    </div>
  </article>
</main>
